:host{
  width: 100%;
  height: 100vh;
  overflow: auto;
  display: flex;
}

//::ng-deep .gridster-preview{
//  background: transparent!important;
//}

gridster {
  background-color: #fff!important;
}



