<div class="dashboard-grid-item"
    (dragenter)="setDropId($event, item._id)"
  >
    <div class="dashboard-grid-item-toolbar__wrapper">
      <button mat-icon-button class="drag-handler">
        <mat-icon>open_with</mat-icon>
      </button>
      <app-dashboard-item-toolbar
        class="gridster-item-content"
        [item]="item"
      ></app-dashboard-item-toolbar>
    </div>

    <div class="gridster-item-content">
      <ng-template
        [id]="item._id"
        [componentRef]="getComponentRef(item._id)"
        appDynamicDashboardItem
      >
      </ng-template>
    </div>

</div>
