<div class="dashboard-grid-settings">
  <form
    class="dynamic-form"
    [formGroup]="form">

    <h2 class="dashboard-grid-settings-title">{{ 'Parameters' | translate }}</h2>

    <div class="dashboard-grid-settings-group" *ngFor="let group of params$ | async" [formGroupName]="group.title">
      <h3 class="dashboard-grid-settings-group-title">{{ group.title | translate }}</h3>

      <!--    Вывожу компоненты с контролами динамически, основываясь на параметре controlType объекта param (используется декоратор appDynamicField)-->
      <ng-template
        *ngFor="let param of group.controls"
        appDynamicField
        [param]="param"
        [form]="getGroup(group.title)">
      </ng-template>

    </div>
  </form>
</div>
